<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="path/to/style.css">
    <title>Login Page</title>
</head>
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        background-image: url("https://4kwallpapers.com/images/wallpapers/glossy-abstract-3440x1440-9602.jpg");
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1300px;

    }


    #myForm {
        max-width: 500px;
        height: 700px;
        background-color: #b3c2cecb;
        padding: 40px;
        margin: 50px auto;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 19px;
        color: #4a2480;
    }

    #age,
    #nation {
        width: 95%;
    }

    .box {
        display: flex;
        justify-content: space-between;
        width: 512px;
    }

    .line {
        width: 50%;
    }

    .cap {
        color: #483c79;
        ;
        text-align: center;
        margin-bottom: 65px;
        font-size: 35px;
    }

    input {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
    }

    input[type="submit"] {
        background-color: #483c79;
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        border: none;
        margin-top: 20px;
    }

    input[type="submit"]:hover {
        background-color: #302655;
    }

    .caption {
        font-size: 40px;
        text-align: center;
        margin: 50px;
        color: #ddd;
        letter-spacing: 1px;
    }
</style>

<body>
    <h1 class="caption">Here You Can Update Your Values</h1>
    </table>
    <div id="myForm">
        <h1 class="cap">Update your information</h1>
        <label for="login">Username</label>
        <input value="<%= obj.name %>" id="login" type="text" required>

        <label for="accounttype">Account Type</label>
        <input value="<%= obj.accounttype %>" id="accounttype" type="text" required>

        <label for="mail">Email</label>
        <input value="<%= obj.email %>" id="mail" type="email" required>

        <label for="pass">Password</label>
        <input value="<%= obj.password %>" id="pass" type="password" required>
        <div class="box">
            <div class="line">
                <label for="age">Age</label>
                <input value="<%= obj.age %>" id="age" type="text" required>
            </div>
            <div class="line">
                <label for="nation">Nationality</label>
                <input value="<%= obj.nation %>" id="nation" type="text" required>
            </div>
            <input type="hidden" name="id" id="id" value="<%= obj._id %>">
        </div>
        <input type="submit" onclick='changeValue()' value="Submit">
    </div>
    <script>
        var text = document.getElementById("text")
        var login = document.getElementById("login");
        var accounttype = document.getElementById("accounttype");
        var mail = document.getElementById("mail");
        var pass = document.getElementById("pass");
        var age = document.getElementById("age");
        var nation = document.getElementById("nation");
        var id = document.getElementById("id");
        async function changeValue() {
            await fetch("/updateData", {
                method: "POST",
                headers: {
                    'Content-Type': "application/json"
                },
                body: JSON.stringify({ fullname: login.value, accounttype: accounttype.value, mail: mail.value, password: pass.value, age: age.value, nation: nation.value, id: id.value })
            });
            window.location.href = "/getInfo";
        }
    </script>
</body>

</html>